.act_prompt {
		margin-top: 25rpx;
		padding: 20rpx;

		.pro_title {
			color: #333;
			margin-bottom: 25rpx;
			font-size: 28rpx;
		}

		.text {
			font-size: 24rpx;
			color: #999;
			margin-bottom: 12rpx;
			display: flex;
		}

		.tt {
			// font-weight: bold;
			color: $uni-color-error;
		}
	}

	.centert-lsty {
		width: 100%;
		// height: 1000px;
		padding: 24rpx 0;
		padding-top: 0;
		box-sizing: border-box;
		position: relative;

		.c-top {
			padding: 0 20rpx;
			box-sizing: border-box;
			width: 100%;
			height: 88rpx;
			line-height: 88rpx;
			// display: flex;
			// justify-content: space-between;
			text-align: center;
			background-color: rgba(253, 234, 240, 1);

			view {
				font-size: 28rpx;
				color: rgba(121, 121, 121, 1);
			}

			.color-az {
				font-weight: bold;
				color: $uni-color-error;
			}
		}

		.c-yminsoer {
			width: 100%;
			padding: 0 24rpx;
			box-sizing: border-box;
			
			.solonun {
				margin-top: 24rpx;
				font-size: 36rpx;
				color: $uni-color-error;
				font-weight: bold;
			}

			.moinun {
				margin-top: 24rpx;
				font-size: 28rpx;

				span {
					color: $uni-color-error;
					font-weight: bold;
					margin: 0 6rpx;
				}
			}
		}

		.mon-list {
			width: 100%;
			padding: 0 24rpx;
			box-sizing: border-box;
			// display: flex;
			margin-top: 24rpx;
			display: grid;
			grid-gap: 24rpx 24rpx;
			grid-template-columns: 1fr 1fr;
			justify-content: space-between;

			.moinuns-view {
				// width: 320rpx;
				// height: 140rpx;
				padding: 20rpx;
				border-radius: 18rpx;
				border: 1rpx solid $uni-color-bgc;
				// margin-bottom: 14rpx;

				.mv-two {
					width: 100%;
					color: rgba(121, 121, 121, 1);
					font-size: 26rpx;
					margin-top: 4rpx;
				}

				.mv-ones {
					width: 100%;
					display: flex;

					span {
						font-size: 30rpx;
						font-weight: bold;
						margin-right: 6rpx;
					}

					.coloir {
						margin-left: 6rpx;
						line-height: 50rpx;
						color: #999;
						font-size: 24rpx;

					}
				}
			}

			.m-ativoe {
				background-color: rgba(253, 234, 240, 1);
				border: 1rpx solid $uni-color-error;
			}
		}

		.moinunstile {
			width: 100%;
			padding: 0 24rpx;
			font-size: 28rpx;
			box-sizing: border-box;
			color: #666;
			margin-top: 14rpx;
		}

		.moinunsdiv {
			width: 100%;
			margin-top: 24rpx;
			padding: 0 24rpx;
			box-sizing: border-box;

			.ouinmino {
				width: 280rpx;
				height: 100rpx;
				display: flex;
				// padding:  18rpx;
				border-radius: 8rpx;
				border: 1rpx solid $uni-color-error;
				padding: 20rpx 50rpx;
				box-sizing: border-box;

				image {
					width: 60rpx;
					height: 60rpx;
				}

				view {
					font-size: 28rpx;
					line-height: 54rpx;
				}
			}
		}

		.moninsun-button {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100rpx;
			line-height: 100rpx;
			text-align: center;
			color: $uni-color-error;
			font-size: 30rpx;
			background-color: rgba(253, 234, 240, 1);
		}
	}