/* 灰色 */
$zy-classic-white: #ffffff;

/* 灰色 */
$zy-lightest-grey: #f5f5f5;

	.zy_segmented_control_container {
		width: 100%;
		height: 100%;
		position: relative;
		margin-bottom: 10rpx;
	}

	.zy_segmented_control_values {
		white-space: nowrap;
		// position: fixed;
		display: flex;
		// z-index: 999999;
	}

	.zy_segmented_control_values_text {
		width: 100%;
		padding-top: 20rpx;
		background-color: $zy-classic-white;
	}

	.zy_segmented_control_values_button {
		width: calc(100% - 40rpx);
		padding: 10rpx 20rpx 0 20rpx;
		background-color: $zy-lightest-grey;
	}

	.zy_segmented_control_values_inlineButton {
		width: calc(100% - 40rpx);
		padding: 0 20rpx;
		background-color: $zy-lightest-grey;
		height: 80rpx;
		border-radius: 10rpx;
	}

	.zy_segmented_control_scroll {
		display: flex;
	}

	.zy_segmented_control_values_item {
		text-align: center;
		display: inline-block;
	}

	.zy_segmented_control_values_text_border {
		border-radius: 10rpx;
		width: 120rpx;
		height: 10rpx;
		margin: 20rpx auto 0 auto;
	}

	.zy_segmented_control_values_text_item {
		//超出显示省略号
		// white-space: nowrap;
		// text-overflow: ellipsis;
		// overflow: hidden;
		//超出换行
		white-space: pre-line !important;
	}

	.zy_segmented_control_values_button_right_borderRadius {
		border-top-right-radius: 10rpx;
		border-bottom-right-radius: 10rpx;
		border-style: solid;
		border-width: 1rpx;
	}

	.zy_segmented_control_values_button_left_borderRadius {
		border-top-left-radius: 10rpx;
		border-bottom-left-radius: 10rpx;
	}

	.zy_segmented_control_values_button_border {
		border-style: solid;
		border-top-width: 1rpx;
		border-bottom-width: 1rpx;
		border-right: none;
		border-left-width: 1rpx;
	}

	.zy_segmented_control_values_button_item {
		line-height: 80rpx;
		height: 80rpx;
		//超出显示省略号
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.zy_segmented_control_values_button_item_left_borderRadius{
		border-radius: 8rpx 0 0 8rpx;
	}

    .zy_segmented_control_values_button_item_right_borderRadius{
    	border-radius: 0 8rpx 8rpx 0;
    }
	
	.zy_segmented_control_values_inlineButton_item {
		height: 60rpx;
		margin: 10rpx;
		border-radius: 10rpx;
		line-height: 60rpx;
		//超出显示省略号
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.zy_segmented_control_slot {
		position: relative;
	}